html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	border: 0;
}

@font-face {
	font-family: "TT Lakes";
	src: url("fonts/TTLakes-Regular.woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes";
	src: url("fonts/TTLakes-Medium.woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "TT Lakes";
	src: url("fonts/TTLakes-Bold.woff");
	font-weight: 700;
	font-style: normal;
}
 

.page__header {
   display: flex;
   height: 88px;
	justify-content: space-between;
	padding: 16px;
	gap: 16px;
	border-bottom: 1px #D9FFF5 solid;
	align-items: center;
}

button, a {
	background-color: transparent;	
	cursor: pointer;
}
.page__header button {
	width: 40px;
	height: 40px;
}

.header__burger {
	background-image: url("images/burger.svg");	

}

.page__header .header__group {
	background-image: url("images/Group.svg");
	margin-right: auto;
	width: 97px;
	height: 50px;	
}

.header__repair {
	background-image: url("images/repair.svg");
}

.header__call {
	background-image: url("images/call.svg");
}

.header__chat {
	background-image: url("images/chat.svg");
}

.header__profile {
	background-image: url("images/profile.svg");
}

.header__checkstatus {
	background-image: url("images/checkstatus.svg");
}

.header__divider {
	background-image: url("images/divider.svg");
	width: 2px;
   height: 32px;
}

.main-page {
	background-color: #F8F8F8;
}

.title-line__title {
	font-size: 28px;
	position: relative;	
	font-family: "TT Lakes";
	font-weight: 700;
	margin-left: 16px;
}

.title-line__title::before {
	content: "";
	position: absolute;
   background-image: url("images/highlight.svg");
	width: 4px;
	height: 40px;
	left: -16px;
	top: 0px;
}

.title-line {
	padding: 24px 16px 24px 0;
}

.title-line button {
	display: none;
}

.services-list {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	overflow-x: scroll;
	padding: 0 16px;
	list-style-type: none;
	
}

.services-list__item a {
	display: block;
	white-space: nowrap;	
	padding: 8px 14px;
	text-decoration: none;
	color: #7E7E82;
	font-family: "TT Lakes";
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
	font-weight: 500;
	vertical-align: middle;
}

.services-list__item {
	height: 40px;
	border: 2px transparent solid;	
}

.services-list__item:hover {
	border: 2px #B8FFEC solid;	
	border-radius: 6px;
	background-color: #FFFFFF;	
}

.text__content{
	overflow: hidden;
	height: 90px;
	font-family: "TT Lakes";
	font-weight: 400;		
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.20000000298023224px;
	text-align: left;	
}

.text__content p:not(:first-child) {
	margin-top: 23px;
}

.state {
	padding-top: 24px;
}

.state__text {
	font-size: 14px;
	color: #1B1C21;
	line-height: 18px;
	overflow: hidden;
	padding: 0 16px;
}

.text__button {
	position: relative;
	color: #1B1C21;
	height: 24px;
	margin-left: 32px;
	font-size: 16px;
	margin: 16px 32px;
	font-family: "TT Lakes";
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;		
}

.text__button::before {
	position: absolute;
	content: "";
	background-image: url("images/expand.svg");
	width: 24px;
	height: 24px;
	left: -32px;
	top: 0;
}
 
.item--hidden {
	display: none;		
}

.state__image {
	width: 100%;	
}

@media (min-width: 768px) {
	
	
	.header__divider{
		margin: 0 4px;
	}

	.item--hidden {
		display: block;
	}

	.header {
		padding: 16px 24px;
	}

	.main-page__title {
		margin-left: 24px;
	}

	.main-page__title::before {
		left: -24px;
	}

	.state {
		display: flex;
		gap: 48px;
		padding: 32px 24px;		
	}

	.text__content {
		min-height: 160px;	
		line-height: 20px;	
	}	

	.state__text {
		flex-basis: 50%;
		padding: 0;
	}

	.state__image {
		flex-basis: 50%;
		border-radius: 5px;
		min-width: 360px;
	}

	.text__button {
		margin-top: 10px;
	}
	 
	.title-line {
		padding: 24px 24px 32px 0px;
	}
	
	.services-list {
		padding: 0 24px;
	}
}

@media (min-width:1120px) {
	
	.header {
		display: none;
	}
	
	.title-line {
		display: flex;
		justify-content: space-between;
		gap:8px;
		align-items: center;
		padding: 42px 32px 8px 0px;
	}

	.title-line__title {
		margin-right: auto;	
		margin-left: 32px;
	}

	.title-line button{
		display: contents;
		font-size: 16px;
		letter-spacing: -0.20000000298023224px;
		text-align: right;
		font-weight: 500;				
		text-align: center;
	}
	
	.request__image {
		margin-right: 32px;
	}

	.title-line__title::before {
		left: -32px;
	}

	.services-list {
		flex-wrap: wrap;
		padding-left: 32px;
		padding-right: 25px;
		overflow: visible;
	}

	.state {
		padding: 32px;
		gap: 36px;
		padding-right: 28px;
	}

	.state__text {
		flex-basis: 48%;
	}

	.state__image {
		flex-basis: 52%;
		min-height: 307px;
		width: 100%;		
	}	
}